<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dog"
          class="ru.course.spring.spring_introduces.Dog">
    </bean>
    <bean id="cat"
          class="ru.course.spring.spring_introduces.Cat">
    </bean>

    <bean id="person"
    class="ru.course.spring.spring_introduces.Person">
<!--        <constructor-arg ref="cat"/>-->
        <property name="pet" ref="dog"/>
        <property name="surname" value="Grinko"/>
        <property name="age" value="30"/>

    </bean>

</beans>